streamlit==1.45.1
numpy
matplotlib
sympy
scikit-image
pillow
pydicom
numba
opencv-python-headless
scipy
tk
streamlit-drawable-canvas==0.5.2
streamlit-image-coordinates
pandas
imageio
XlsxWriter
openpyxl
